<p id="notice"><%= notice %></p>

<p>
  <b>Address 01:</b>
  <%= @residential_address.address_01 %>
</p>

<p>
  <b>Address 02:</b>
  <%= @residential_address.address_02 %>
</p>

<p>
  <b>City:</b>
  <%= @residential_address.city %>
</p>

<p>
  <b>State:</b>
  <%= @residential_address.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @residential_address.zip %>
</p>

<ul class="wp-actions-list">
  <li><%= link_to_iconable 'Edit', [:edit, @client, @residential_address], class: "edit-item show-text" %></li>
  <li><%= link_to_iconable 'Back', [@client, :residential_addresses], class: "index-item show-text" %></li>
</ul>

<script type="text/javascript">
  residential_address_patch.bloom("show");
</script>

